@import url('reset.css');

body{
    font-family: verdana;
    line-height: 1.6;
    background-color: rgb(249, 249, 249);
    color: rgb(32, 30, 30);
}

.wrapper{
    margin:0 auto;
    width:1200px;
}

/* .banner img{ */
    /* border:1px solid red; */
    /* width:100%; */
    /* height:300px; */
/* }  */

.section1{
    /* border:1px solid red; */
    margin-left:100px;
}

.container .title-region{
    /* border:1px solid red; */
    font-size: 30px;
    display: flex;
    align-items: center; 
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 30px;
    /* padding-left:125px; */
}

.title-region .subtitle{
    font-size: 20px;
    padding-top:10px;
    padding-left:10px;
    color:rgba(125, 255, 65, 0.975);
}

.aside{
    /* border: 2px dashed gray; */
    background-color: rgb(174, 255, 198);
    font-size: 24px;
    width:180px;
    position: fixed;
}

.aside .type-list{
    /* color: gray; */
    text-decoration: none;
}

.aside .type-list li{
    /* border:1px solid red; */
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.aside .type-list  a{
    text-decoration: none;
    color: rgb(76, 146, 55);
}
/* 菜單區塊一 */
.tea-list1{
    /* border:1px solid red; */
    font-size: 26px;
}

.tea-list1 .product-list1{
    /* border:1px solid red; */
    width:180px;
    margin-left:220px;
    margin-bottom:25px;
    text-align: center;
    background-color: rgb(133, 243, 60);
}

.tea-list1 .banner1{
    /* border:1px solid red; */
    width:1010px;
    margin-left:155px;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 10px;
}

.tea-list1 .product1{
    /* border:1px solid red; */
    width:230px;
    height:250px;
    margin-left: 70px;
    margin-bottom:25px;
    border-radius: 10px;
    background-color: rgb(196, 196, 196);
    box-shadow: 2px 2px 2px 2px rgb(104, 100, 100);
}

.tea-list1 .product1 a{
    text-decoration: none;
}

.tea-list1 .product1 img{
    /* border:1px solid red; */
    width:229px;
    height: 170px;
    border-radius: 10px;
}

.tea-list1 .product1 .title1{
    font-size: 22px;
    font-weight: 600px;
    
}

.tea-list1 .product1 .paragraph1{
    font-size: 18px;
}

.tea-list1 .product1 .shop-btn{
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgb(115, 255, 94);
    width: 90px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    position: relative;
    left: 125px;
    bottom: 35px;
}

/* 菜單區塊二 */
.tea-list2{
    /* border:1px solid red; */
    font-size: 26px;
}

.tea-list2 .product-list2{
    /* border:1px solid red; */
    width:180px;
    margin-left:220px;
    margin-bottom:25px;
    text-align: center;
    background-color: rgb(133, 243, 60);
}


.tea-list2 .banner2{
    /* border:1px solid red; */
    width:1010px;
    margin-left:155px;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 10px;
}

/* .tea-list2 .banner3{ */
    /* border:1px solid red;
    margin-left:267px;
    display: flex;
    margin-bottom: 45px; */
/* }  */

.tea-list2 .product1{
    /* border:1px solid red; */
    width:230px;
    height:250px;
    margin-left: 70px;
    margin-bottom:25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(104, 100, 100);
    background-color: rgb(196, 196, 196);
}

.tea-list2 .product1 a{
    text-decoration: none;
    display: block;
}

.tea-list2 .product1 img{
    /* border:1px solid red; */
    width:229px;
    height: 170px;
    border-radius: 10px;
}

.tea-list2 .product1 .title1{
    font-size: 22px;
    font-weight: 600px;
}

.tea-list2 .product1 .paragraph1{
    font-size: 18px;
}

.tea-list2 .product1 .shop-btn{
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgb(115, 255, 94);
    width: 90px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    position: relative;
    left: 125px;
    bottom: 35px;
}

/* 菜單區塊三 */
.tea-list3{
    /* border:1px solid red; */
    font-size: 26px;
}

.tea-list3 .product-list3{
    /* border:1px solid red; */
    width:180px;
    margin-left:220px;
    margin-bottom:25px;
    text-align: center;
    background-color: rgb(133, 243, 60);
}

.tea-list3 .banner5{
    /* border:1px solid red; */
    width:1010px;
    margin-left:155px;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 10px;
}

/* .tea-list3 .banner6{ */
    /* border:1px solid red; */
    /* margin-left:267px; */
    /* display: flex; */
    /* margin-bottom: 20px; */
/* } */


.tea-list3 .product1{
    /* border:1px solid red; */
    width:230px;
    height:250px;
    margin-left: 70px;
    margin-bottom:25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(104, 100, 100);
    background-color: rgb(196, 196, 196);
}

.tea-list3 .product1 a{
    text-decoration: none;
    display: block;
}

.tea-list3 .product1 img{
    /* border:1px solid red; */
    width:229px;
    height: 170px;

    border-radius: 10px;
}

.tea-list3 .product1 .title1{
    font-size: 22px;
    font-weight: 600px;
}

.tea-list3 .product1 .paragraph1{
    font-size: 18px;
}

.tea-list3 .product1 .shop-btn{
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgb(115, 255, 94);
    width: 90px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    position: relative;
    left: 125px;
    bottom: 35px;
}

/* 置頂按鈕區塊 */
.toTop{
    /* border:1px solid red; */
	display: block;
	width: 50px;
    height: 50px;
	background-color: rgb(158 209 242);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 50px;
	bottom: 60px;
	text-decoration: none;
	border-radius: 10px;
	font-size: 2em;
	transition: .3s;
}

.toTop .fa{
	transition: .5s;
}

.toTop:hover{
	background-color: #333;
}

.toTop:hover .fa{
	transform: translateY(-5px);
}

/* RWD 撰寫區塊 */
@media screen and (max-width: 414px) {
    .wrapper{
        width:auto;
    }

    .section1{
        margin-left:0;
    }

    .container .title-region{
        /* border:1px solid red; */
        padding-left:80px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .aside{
        /* display:none; */
        width:390px;
        margin-left: 0px;
        margin-bottom: 20px;
        padding: 10px 0px;
        position: sticky;
        font-size: 20px;
        top:0px;
        display: block;
        z-index: 2;
    }

    .aside .type-list{
        text-decoration: none;
        display: flex;
    }

    .aside .type-list li{
        margin: 0px auto;
    }

    /* 菜單區塊一 */

    .tea-list1 .product-list1 {
        /* border: 1px solid red; */
        width: 150px;
        margin-left: 125px;
        margin-bottom: 25px;
        text-align: center;
        background-color: rgb(133, 243, 60);
    }

    .tea-list1 .banner1 {
        /* border: 1px solid red; */
        width: 390px;
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .tea-list1 .product1 {
        /* border: 1px solid red; */
        width: 174px;
        height: auto;
        margin-left: 12px;
        margin-bottom: 25px;
        border-radius: 10px;
        background-color: rgb(196, 196, 196);
        box-shadow: 2px 2px 2px 2px rgb(104, 100, 100);
    }

    .tea-list1 .product1 img {
        /* border: 1px solid red; */
        width: 174px;
        border-radius: 10px;
        height:auto;
    }

    .tea-list1 .product1 .title1 {
        font-size: 20px;
        font-weight: 600px;
    }

    .tea-list1 .product1 .shop-btn {
        /* border: 1px solid rgb(0, 0, 0); */
        background-color: rgb(115, 255, 94);
        width: 90px;
        height: 30px;
        font-size: 16px;
        text-align: center;
        position: relative;
        left: 75px;
        bottom: 2px;
    }

    /* 菜單區塊二 */

    .tea-list2 .product-list2 {
        /* border: 1px solid red; */
        width: 150px;
        margin-left: 125px;
        margin-bottom: 25px;
        text-align: center;
        background-color: rgb(133, 243, 60);
    }

    .tea-list2 .banner2 {
        /* border: 1px solid red; */
        width: 390px;
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .tea-list2 .product1 {
        /* border: 1px solid red; */
        width: 175px;
        height: auto;
        margin-left: 12px;
        margin-bottom: 25px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgb(104, 100, 100);
        background-color: rgb(196, 196, 196);
    }

    .tea-list2 .product1 img {
        /* border: 1px solid red; */
        width: 175px;
        height:auto;
        border-radius: 10px;
    }

    .tea-list2 .product1 .shop-btn {
        /* border: 1px solid rgb(0, 0, 0); */
        background-color: rgb(115, 255, 94);
        width: 90px;
        height: 30px;
        font-size: 16px;
        text-align: center;
        position: relative;
        left: 75px;
        bottom: 2px;
    }

    /* 菜單區塊三 */
    .tea-list3 .product-list3 {
        /* border: 1px solid red; */
        width: 150px;
        margin-left: 125px;
        margin-bottom: 25px;
        text-align: center;
        background-color: rgb(133, 243, 60);
    }

    .tea-list3 .banner5 {
        /* border: 1px solid red; */
        width: 390px;
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .tea-list3 .product1 {
        /* border: 1px solid red; */
        width: 175px;
        height: auto;
        margin-left: 12px;
        margin-bottom: 25px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgb(104, 100, 100);
        background-color: rgb(196, 196, 196);
    }

    .tea-list3 .product1 img {
        /* border: 1px solid red; */
        width: 175px;
        height:auto;
        border-radius: 10px;
    }

    .tea-list3 .product1 .shop-btn {
        /* border: 1px solid rgb(0, 0, 0); */
        background-color: rgb(115, 255, 94);
        width: 90px;
        height: 30px;
        font-size: 16px;
        text-align: center;
        position: relative;
        left: 75px;
        bottom: 2px;
    }

    .toTop {
        right: 10px;
    }
}

@media screen and (max-width: 390px) {
    .wrapper{
        width:auto;
    }

    .aside{
        /* display:none; */
        width:360px;
        margin-left: 13px;
        margin-bottom: 20px;
        padding: 10px 0px;
        position: sticky;
        top:0px;
        font-size: 20px;
        display: block;
        z-index: 2;
    }

    .aside .type-list{
        text-decoration: none;
        display: flex;
    }

    .aside .type-list li{
        margin: 0px auto;
    }

    .tea-list1 .banner1 {
        /* border: 1px solid red; */
        width: 390px;
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .tea-list2 .banner2 {
        /* border: 1px solid red; */
        width: 390px;
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .tea-list3 .banner5 {
        /* border: 1px solid red; */
        width: 390px;
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}
