@import url('reset.css');

body{
    font-family: verdana;
    line-height: 1.6;
    background-color: rgb(249, 249, 249);
    color: rgb(32, 30, 30);
}

.wrapper{
    margin:0 auto;
    width:1200px;
}

/* 大圖播放區塊*/
.banner img{
    /* border:1px solid rgb(0, 0, 0); */
    width:100%;
    height:650px;
}

.banner .banner-animation h1{
    /* border:1px solid red; */
    font-size: 140px;
	font-family: 'Kanit', sans-serif;
    text-shadow: 0px 0px 5px rgba(0,0,0,.5);
    position: absolute;
	left: 170px;
	top: 175px;
    opacity: 0;
    color:white;
}

.banner .banner-animation h2{
    font-size: 60px;
	font-family: 'Kanit', sans-serif;
	text-shadow: 0px 0px 5px rgba(0,0,0,.5);
    position: absolute;
	left: 180px;
	top: 360px;
    color:white;
	opacity: 0;
}

.banner .banner-animation a{
    /* border:1px solid red; */
    display: block;
	line-height: 50px;
	width: 150px;
	text-align: center;
	border-radius: 25px;
	background-color: #f91919;
	color: white;
	text-decoration: none;

	position: absolute;
	left: 260px;
	top: 540px;

	opacity: 0;
}

.banner .banner-animation h1{
	animation: bigTitleA .5s cubic-bezier(0,.39,.22,1.39) forwards;
}

.banner .banner-animation h2{
    animation: bigTitleB .5s .3s cubic-bezier(0,.39,.22,1.39) forwards;
}

.banner .banner-animation a{
    animation: btn .5s .8s forwards;
}

@keyframes bigTitleA{
	0%{ transform: translateX(-170px); opacity: 0; }
	100%{ transform: translateX(0px); opacity: 1; }
}

@keyframes bigTitleB{
	0%{ transform: translateX(-110px); opacity: 0; }
	100%{ transform: translateX(0px); opacity: 1; }
}

@keyframes btn{
	0%{
		background-color: white;
		box-shadow: 0 0 5px 10px rgba(255,255,255,.5);
		transform: scale(2);
		opacity: 0;
	}
	100%{
		background-color: #fe1b1b;
		box-shadow: none;
		transform: scale(1);
		opacity: 1;
	}
}

/* 標題文字區要寫上(天然、甘醇、鮮美Enjoy . Genuine . Delicious) */
.section1{
    /* border:1px solid red; */
    color:green;
    margin:100px 0;
}

.container{
    /* border:1px solid orange; */
    text-align: center;
    font-size: 24px;
    color:yellowgreen;
}

.subtitle{
    color:rgb(171, 210, 93);
    font-size:20px; 
    text-align: center;
    padding-top: 30px;
}

/* 區塊／消息區／最新消息區 */
.section2 .title-region{
    /* border:1px solid red; */
    height:80px;
    font-size: 22px;
    color:black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 60px;
    border-bottom:1px solid #c9c9c9
}

.section2 .title-region img{
    width:15px;
    height:15px;
    padding-left: 10px;
}

.section2 .title-region a{
    text-decoration: none;
    display:flex;
}

.inforegion .info-item a{
    text-decoration: none;
    color:blue;
    display:flex;
    align-items: center;
    margin:0 60px;
    padding-left:60px;
    border-bottom: 1px solid #dddddd;
}

.inforegion .info-item .date{
    /* border:1px solid red; */
    width:130px;
    padding:15px 0;
    color:#999999;
}

.inforegion .info-item .type{
    /* border:1px solid red; */
    width:130px;
    padding:15px 0;
    color:#999999;
}

.inforegion .info-item .text{
    padding:15px 0 15px 25px;
    color:black;
    font-size: 18px;
}

/* 區塊/圖片導引(banner) */

.section3{
    /* border: 1px solid green; */
    margin: 100px 10px 100px 50px;
    display: flex; 
    flex-wrap: wrap; 
}

.test{
    /* border:1px solid red; */
    width:480px;
    height:450px;
    /* flex-grow: 1; */
} 

.section3 .test a{
    text-decoration:none;
}

.banner1{
    /* border:1px solid green; */
    background-image: url(../img/index/20210421006131.jpg);
    background-repeat: no-repeat;
    background-size: 600px 460px;
    width:480px ;
    height:480px;
    transition: all .5s;
}

.banner1:hover{
    transform: scale(1.05);
}

.banner1 .text{
    /* border:1px solid rgb(0, 0, 0); */
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-top:400px;
    padding-left: 10px;
    color: white;
}

.test2{
    /* border:1px solid orange; */
    display: flex;
    flex-wrap: wrap; 
    width:650px;
    padding-left: 0px;
    /* flex-grow: 1; */
}

.section3 .test2 a{
    text-decoration:none;
}

.banner2{
    /* border:1px solid blue; */
    background-image: url(../img/index/taiwan-milk-tea-with-bubble_1339-934301838340.jpeg);
    background-repeat: no-repeat;
    background-size: 290px 225px;
    margin:0 5px 10px 10px;
    width:290px;
    height:225px;
    transition: all .5s;
}

.banner2:hover{
    transform: scale(1.05);
}

.banner2 .text{
    /* border:1px solid red; */
    font-size: 24px;
    font-weight: 700;
    padding-top:180px;
    padding-left:10px;
    color:white
}

.banner3{
    /* border:1px solid red; */
    background-image: url(../img/index/20200609004676.jpg);
    margin:0 10px 10px 5px;
    background-repeat: no-repeat;
    background-size: 290px 225px;
    width:290px;
    height:225px;
    object-fit:cover;
    transition: all .5s;
}

.banner3:hover{
    transform: scale(1.05);
}

.banner3 .text{
    /* border:1px solid red; */
    font-size: 24px;
    font-weight:700;
    padding-top:180px;
    padding-left:10px;
    color:white;
}

.banner4{
    /* border:1px solid red; */
    background-image: url(../img/index/tea-picker-woman-s-asian-hands-close-up-pretty-tea-picking-girl-plantation.jpg);
    background-repeat: no-repeat;
    background-size: 290px 225px;
    margin:0 5px 10px 10px;
    width:290px;
    height:225px;
    transition: all .5s;
}

.banner4:hover{
    transform: scale(1.05);
}

.banner4 .text{
    /* border:1px solid red; */
    font-size: 24px;
    font-weight:700;
    padding-top: 180px;
    padding-left:10px;
    color:white;
}

.banner5{
    /* border:1px solid red; */
    background-image: url(../img/contactus/Contact-us.jpg);
    background-repeat: no-repeat;
    background-size: 290px 225px;
    margin:0 10px 10px 5px;
    width:290px;
    height:225px;
    transition: all .5s;
}

.banner5:hover{
    transform: scale(1.05);
}

.banner5 .text{
    font-size: 24px;
    font-weight:700;
    padding-top: 180px;
    padding-left:10px;
    color:white;
}

.toTop{
    /* border:1px solid red; */
	display: block;
	width: 70px;
	height: 70px;
	background-color: rgb(179, 101, 0);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 50px;
	bottom: 60px;
	text-decoration: none;
	border-radius: 50%;
	font-size: 2em;
	transition: .3s;
}

.toTop .fa{
	transition: .5s;
}

.toTop:hover{
	background-color: #333;
}

.toTop:hover .fa{
	transform: translateY(-5px);
}

/* RWD 撰寫區塊 */
@media screen and (max-width: 414px) {
    .wrapper{
        width:auto;
    }

    .banner img {
        /* border: 1px solid rgb(0, 0, 0); */
        width: 100%;
        height: auto;
    }

    .banner .banner-animation h1 {
        /* border: 1px solid red; */
        font-size: 40px;
        font-family: 'Kanit', sans-serif;
        text-shadow: 0px 0px 5px rgba(0,0,0,.5);
        position: absolute;
        left: 48px;
        top: 110px;
        opacity: 0;
        color: white;
    }

    .banner .banner-animation h2 {
        font-size: 23px;
        font-family: 'Kanit', sans-serif;
        text-shadow: 0px 0px 5px rgba(0,0,0,.5);
        position: absolute;
        left: 50px;
        top: 170px;
        color: white;
        opacity: 0;
    }

    .banner .banner-animation a {
        /* border: 1px solid red; */
        display: block;
        line-height: 50px;
        width: 135px;
        text-align: center;
        border-radius: 25px;
        background-color: #f91919;
        color: white;
        text-decoration: none;
        position: absolute;
        left: 50px;
        top: 255px;
        opacity: 0;
    }

    .section1 {
        /* border: 1px solid red; */
        /* color: green; */
        margin: 65px 0;
    }

    .inforegion .info-item a {
        text-decoration: none;
        color: blue;
        display: flex;
        align-items: center;
        margin: 0 60px;
        padding-left: 0px;
        border-bottom: 1px solid #dddddd;
    }

    .inforegion .info-item .type {
        /* border: 1px solid red; */
        width: 130px;
        padding: 15px 0;
        color: #999999;
        display: none;
    }

    .section3 {
        /* border: 1px solid green; */
        margin: 45px 10px 0px 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .banner1 {
        /* border: 1px solid green; */
        background-image: url(../img/index/20210421006131.jpg);
        background-repeat: no-repeat;
        background-size: 370px 360px;
        width: 370px;
        height: 359px;
        transition: all .5s;
    }

    .banner1 .text {
        /* border: 1px solid rgb(0, 0, 0); */
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        padding-top: 315px;
        padding-left: 10px;
        color: white;
    }

    .test {
        height: 365px;
    }

    .banner2 {
        /* border: 1px solid blue; */
        background-image: url(../img/index/taiwan-milk-tea-with-bubble_1339-934301838340.jpeg);
        background-repeat: no-repeat;
        background-size: 180px 155px;
        margin: 0 5px 5px 0px;
        width: 179px;
        height: 154px;
        transition: all .5s;
    }

    .banner2 .text {
        /* border: 1px solid red; */
        font-size: 24px;
        font-weight: 700;
        padding-top: 118px;
        padding-left: 10px;
        color: white;
    }

    .banner3 {
        /* border: 1px solid red; */
        background-image: url(../img/index/20200609004676.jpg);
        margin: 0 0px 10px 5px;
        background-repeat: no-repeat;
        background-size: 180px 157px;
        width: 180px;
        height: 157px;
        object-fit: cover;
        transition: all .5s;
    }

    .banner3 .text {
        /* border: 1px solid red; */
        font-size: 24px;
        font-weight: 700;
        padding-top: 120px;
        padding-left: 10px;
        color: white;
    }

    .banner4 {
        /* border: 1px solid red; */
        background-image: url(../img/index/tea-picker-woman-s-asian-hands-close-up-pretty-tea-picking-girl-plantation.jpg);
        background-repeat: no-repeat;
        background-size: 181px 225px;
        margin: 0 0px 5px 0px;
        width: 181px;
        height: 157px;
        transition: all .5s;
    }

    .banner4 .text {
        /* border: 1px solid red; */
        font-size: 24px;
        font-weight: 700;
        padding-top: 80px;
        padding-left: 10px;
        color: white;
    }

    .banner5 {
        /* border: 1px solid red; */
        background-image: url(../img/contactus/Contact-us.jpg);
        background-repeat: no-repeat;
        background-size: 183px 157px;
        margin: 0 0px 10px 6px;
        width: 182px;
        height: 157px;
        transition: all .5s;
    }

    .banner5 .text {
        font-size: 24px;
        font-weight: 700;
        padding-top: 115px;
        padding-left: 10px;
        color: white;
    }


    .toTop {
        right: 5px;
    }
}

@media screen and (max-width: 390px){
    .wrapper{
        width:auto;
    }

    .banner img {
        /* border: 1px solid rgb(0, 0, 0); */
        width: 100%;
        height: auto;
    }

    .banner1 {
        /* border: 1px solid green; */
        background-image: url(../img/index/20210421006131.jpg);
        background-repeat: no-repeat;
        background-size: 100% 360px;
        width: 100%;
        height: 359px;
        transition: all .5s;
    }

    .banner1 .text {
        /* border: 1px solid rgb(0, 0, 0); */
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        padding-top: 315px;
        padding-left: 10px;
        color: white;
    }

    .test {
        height: 365px;
    }

    .banner2 {
        /* border: 1px solid blue; */
        background-image: url(../img/index/taiwan-milk-tea-with-bubble_1339-934301838340.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 210px;
        margin: 0 5px 5px 0px;
        width: 100%;
        height: 210px;
        transition: all .5s;
    }

    .banner2 .text {
        /* border: 1px solid red; */
        font-size: 24px;
        font-weight: 700;
        padding-top: 160px;
        padding-left: 10px;
        color: white;
    }

    .banner3 {
        /* border: 1px solid red; */
        background-image: url(../img/index/20200609004676.jpg);
        margin: 0 0px 10px 0px;
        background-repeat: no-repeat;
        background-size: 100% 210px;
        width: 100%;
        height: 210px;
        object-fit: cover;
        transition: all .5s;
    }

    .banner3 .text {
        /* border: 1px solid red; */
        font-size: 24px;
        font-weight: 700;
        padding-top: 160px;
        padding-left: 10px;
        color: white;
    }

    .banner4 {
    /* border: 1px solid red; */
    background-image: url(../img/index/tea-picker-woman-s-asian-hands-close-up-pretty-tea-picking-girl-plantation.jpg);
    background-repeat: no-repeat;
    background-size: 100% 210px;
    margin: 0 0px 5px 0px;
    width: 100%;
    height: 210px;
    transition: all .5s;
}

    .banner4 .text {
        /* border: 1px solid red; */
        font-size: 24px;
        font-weight: 700;
        padding-top: 160px;
        padding-left: 10px;
        color: white;
    }

    .banner5 {
        /* border: 1px solid red; */
        background-image: url(../img/contactus/Contact-us.jpg);
        background-repeat: no-repeat;
        background-size: 100% 210px;
        margin: 0 0px 10px 0px;
        width: 100%;
        height: 210px;
        transition: all .5s;
    }

    .banner5 .text {
        font-size: 24px;
        font-weight: 700;
        padding-top: 160px;
        padding-left: 10px;
        color: white;
    }

    .toTop {
        right: 5px;
    }
}
